
@{
    ViewData["Title"] = "Index";
}

<h2>Controller Operations</h2>


<h3>Transient: @ViewBag.Transient</h3>
<h3>Scoped: @ViewBag.Scoped</h3>
<h3>Singleton: @ViewBag.Singleton</h3>
<h3>Instance:  @ViewBag.SingletonInstance</h3>


<h2>OperationService Operation</h2>

<h3>Transient: @ViewBag.Servicea</h3>
<h3>Scoped:  @ViewBag.Serviceb</h3>
<h3>Singleton:  @ViewBag.Servicec</h3>
<h3>Instance: @ViewBag.Serviced</h3>




